[submodule "adi-linux"]
	path = adi-linux
	url = git@github.com:SourabhPatil2430/local_linux.git
[submodule "adi-linux-64"]
	path = adi-linux-64
	url = git@github.com:SourabhPatil2430/local_linux.git
